type file
id NICE.Js2Html
owners
    NICE
authors 
    Ryan Roberts
projectUrl
    http://github.com/nhsevidence/js2html
iconUrl
    https://raw.githubusercontent.com/nhsevidence/js2html/master/docs/files/img/logo.png
licenseUrl
    http://github.com/nhsevdience/js2html/blob/master/LICENSE.txt
requireLicenseAcceptance
    false
copyright
    Copyright 2015
summary
    Dotliquid templating for json objects
description
    Dotliquid templating for json objects
files
  ../../bin/js2html ==> tools
